#
# YOnote ENGINE .htaccess file
#
# @author Vlad Gramuzov <vlad.gramuzov@gmail.com>
# @link http://yonote.org
# @copyright 2014 Vlad Gramuzov
# @license http://yonote.org/license.html
#

Options +FollowSymLinks
Options All -Indexes
IndexIgnore */*
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite index file
RewriteRule . index.php