.mce-edit-area blockquote {
  border: 1px solid red;
}
.panel-heading .panel-title {
  display: inline-block;
  vertical-align: middle;
}
.list-group-item.active a {
  color: #ffffff;
}
.table {
  margin: 0;
}
.table-separated {
  border-top: 1px solid #dddddd;
}
.table .asc {
  background: url('../../images/up.gif') right center no-repeat;
  padding-right: 10px;
}
.table .desc {
  background: url('../../images/down.gif') right center no-repeat;
  padding-right: 10px;
}
.table.table-middle td,
.table.table-middle th {
  vertical-align: middle;
}
.sidebar-divider-gradient {
  height: 1px;
  display: block;
  content: " ";
  background-image: -webkit-linear-gradient(left, #000000, #1e2732 50%, #000000);
  background-image: linear-gradient(to right, #000000, #1e2732 50%, #000000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000', GradientType=1);
}
.sidebar-bg {
  width: 200px;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #0b0e12;
}
.sidebar {
  width: 200px;
  float: left;
  position: absolute;
}
.sidebar .sidebar-nav {
  padding: 0;
  width: 100%;
  border-top: 0;
  background-color: #0b0e12;
}
.sidebar .sidebar-nav:after {
  position: relative;
  height: 1px;
  display: block;
  content: " ";
  background-image: -webkit-linear-gradient(left, #000000, #1e2732 50%, #000000);
  background-image: linear-gradient(to right, #000000, #1e2732 50%, #000000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000', GradientType=1);
}
.sidebar .sidebar-nav li a .glyphicon {
  margin-right: 10px;
}
.sidebar .sidebar-nav li,
.sidebar .sidebar-nav li a {
  color: #999999;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.sidebar .sidebar-nav li:hover,
.sidebar .sidebar-nav li a:hover {
  color: #ffffff;
  background-color: #1f2226;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.sidebar .sidebar-nav li:focus,
.sidebar .sidebar-nav li a:focus {
  background-color: transparent;
}
.sidebar .sidebar-nav > li {
  position: relative;
  border-bottom: 1px solid #000000;
}
.sidebar .sidebar-nav > li:hover,
.sidebar .sidebar-nav > li a:hover {
  background-color: transparent;
}
.sidebar .sidebar-nav > li:before,
.sidebar .sidebar-nav > li li:before {
  height: 1px;
  display: block;
  content: " ";
  background-image: -webkit-linear-gradient(left, #000000, #1e2732 50%, #000000);
  background-image: linear-gradient(to right, #000000, #1e2732 50%, #000000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000', GradientType=1);
}
.sidebar .sidebar-nav > li:after {
  height: 1px;
  background: #000000;
}
.sidebar .sidebar-nav > li .glow {
  display: block;
  position: absolute;
  height: 40px;
  width: 5px;
  background-color: #292c30;
  -webkit-box-shadow: 0 0 1px 2px rgba(66, 139, 202, 0.1) inset;
  box-shadow: 0 0 1px 2px rgba(66, 139, 202, 0.1) inset;
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.sidebar .sidebar-nav > li.active .glow {
  -webkit-box-shadow: 0 0 1px 2px #428bca inset;
  box-shadow: 0 0 1px 2px #428bca inset;
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.sidebar .sidebar-nav > li.active .glow:after {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  content: " ";
  background-image: -webkit-linear-gradient(left, color-stop(rgba(66, 139, 202, 0.2) 0%), color-stop(rgba(0, 0, 0, 0) 100%));
  background-image: linear-gradient(to right, rgba(66, 139, 202, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33428bca', endColorstr='#00000000', GradientType=1);
}
.sidebar .sidebar-nav > li:hover .glow {
  -webkit-box-shadow: 0 0 1px 2px #428bca inset;
  box-shadow: 0 0 1px 2px #428bca inset;
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.sidebar .sidebar-nav > li li {
  font-size: 11px;
}
.sidebar .sidebar-nav > li li a {
  padding: 5px 20px;
}
.badge.blue-badge {
  background: #428bca;
}
.navbar .navbar-toggle {
  color: #999999;
}
.navbar .navbar-toggle:hover {
  color: #ffffff;
}
.navbar .navbar-toggle:active {
  color: #ffffff;
}
.navbar .navbar-nav > li.active > a {
  background-color: #06090d;
  background-image: none;
  filter: none;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li > a:focus {
  background-color: #06090d;
}
.navbar .navbar-nav .profile-box {
  min-width: 200px;
  margin: 0;
}
.navbar .navbar-nav .profile-box .glyphicon {
  margin-right: 10px;
}
.navbar .navbar-nav .profile-box > .avatar > img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px auto 0 auto;
}
.navbar .navbar-nav .dropdown-profile {
  padding: 9px 10px;
}
.navbar .navbar-nav .dropdown-profile img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
.dashboard {
  position: relative;
  margin-left: 200px;
}
.dashboard .dashboard-header {
  padding: 10px 15px;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.dashboard .dashboard-header .header {
  font-size: 20px;
}
.dashboard .dashboard-body .breadcrumb {
  margin: 20px 0 20px 0;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .sidebar {
    width: auto;
    float: none;
    position: relative;
  }
  .profile-box {
    margin: 200px;
  }
  .profile-box h4 {
    color: #999999;
  }
  .profile-navbar {
    margin-top: 20px;
    padding-top: 8px;
    border-top: 1px solid #000000;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1);
  }
  .dashboard {
    margin-left: 0;
  }
  .dropdown li {
    margin: 5px 0;
    background-color: #0b0e12;
  }
  .dropdown li.avatar {
    background-color: transparent;
  }
}
html,
body {
  height: 100%;
  background-image: url('../../images/bg.gif');
  background-repeat: repeat;
  background-color: #f0f1f2;
}
.page-center {
  display: table;
  height: 100%;
}
.page-center-body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
