@media (min-width: 768px) {
  .nav.mainnav {
    float: right;
  }
}
@media (min-width: 992px) {
  .nav.mainnav {
    float: right;
  }
}
.debug {
  outline: 1px solid red;
}
.rfz-modal {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  background: #645b58;
  visibility: hidden;
  opacity: 0;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}
.rfz-modal .title {
  background: #eeeeee;
}
.rfz-modal .title h3 {
  margin: 5px 0 34px 0;
  color: #7f7470;
  text-transform: uppercase;
}
.rfz-modal .title .logo {
  margin: 34px auto 0 auto;
  display: block;
  border: 0;
  width: 130px;
  height: 35px;
  background: url('../../images/logo_brand.png');
}
.rfz-modal .name {
  display: block;
  background: #7f7470;
  margin: 0;
  padding: 76px 0;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #8c817d;
}
.rfz-modal .close {
  font-size: 36px;
  margin-right: 10px;
}
.rfz-modal.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.rfz-modal .description {
  text-align: center;
  padding: 34px 0;
  margin: 0 auto;
  background: #645b58;
  color: #fff;
}
.rfz-modal .description h3 {
  color: #7f7470;
  margin: 0;
}
.rfz-modal .description .text {
  margin-top: 10px;
}
.rfz-modal .photo-region {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #847975;
  text-align: center;
  color: #fff;
}
.rfz-modal .photo-region .subinfo {
  margin-top: 10px;
  color: #8c817d;
}
.rfz-modal .photo-region .prev,
.rfz-modal .photo-region .next {
  color: #fff;
  margin: 10px 0 0 0;
  cursor: pointer;
}
.rfz-modal .photo-region .prev:hover,
.rfz-modal .photo-region .next:hover {
  color: #7f7470;
}
.rfz-modal .photo-region .photo {
  background: #716864;
  height: auto;
  cursor: pointer;
  padding: 0;
  background: #645b58;
  width: 400px;
  margin: 0 auto;
  position: relative;
}
.rfz-modal .photo-region .photo .zoom-area {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
}
.rfz-modal .photo-region .photo .zoom-area .zoom {
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  width: 400px;
  display: none;
  height: 400px;
  position: relative;
  z-index: 2;
  border: 20px solid #645b58;
  padding: 0;
  background-repeat: no-repeat;
  pointer-events: none;
}
.rfz-modal .photo-region .photo .zoom-area .zoom.active {
  display: block;
}
.rfz-modal .photo-region .photo img {
  width: 100%;
  height: auto;
}
.rfz-modal .photo-region .photo.loading {
  background-image: url('../../images/loading.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.text-serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text-large {
  font-size: 18px;
}
.rfz-collection-types .item {
  height: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.rfz-collection-types .item .bg-position {
  background-position: 50% 50%;
  background-size: cover;
}
.rfz-collection-types .item.evening {
  background: url('../../images/collections/evening.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.rfz-collection-types .item.wedding {
  background: url('../../images/collections/wedding.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.rfz-collection-types .item.children {
  background: url('../../images/collections/children.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.rfz-collection-types .item img {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 400px;
  width: auto;
}
.rfz-collection-types .item .item-button {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  margin: 0;
  top: 90%;
  left: 50%;
  width: 80%;
  background: transparent;
}
.rfz-collection-types .item .item-fader {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(127, 116, 112, 0.7);
  opacity: 1.0;
}
.rfz-collection-types .item:hover .item-fader {
  opacity: 0.0;
}
.rfz-collection-types .item:hover .item-button {
  border: 1px solid transparent;
  background: #ffffff;
  color: #555555;
}
.collections {
  margin-top: 20px;
  padding: 0;
}
.collections .description {
  text-align: center;
  color: #fff;
  padding: 54px 115px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.collections .description p {
  padding-bottom: 20px;
}
.collections .description .divider {
  margin: 0 auto;
  background: #fff;
  width: 370px;
  height: 1px;
}
.collections.wedding .description {
  background: #7f7470;
}
.rfz-main {
  margin-top: 50px;
}
.btn.rfz-down-btn {
  text-transform: none;
  background: transparent;
}
.btn.btn-margin {
  margin-top: 20px;
}
.rfz-about {
  padding: 0 0 10px 0;
  margin: 0;
  background: #e0e0e0;
  color: #555555;
}
.rfz-about .columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin-top: 20px;
}
.rfz-about .title {
  text-transform: uppercase;
  font-weight: bold;
}
.rfz-slider {
  width: 100%;
  height: 432px;
  overflow: hidden;
  position: relative;
  background: #7f7470;
}
.rfz-slider:hover .carousel-inner-fader,
.rfz-slider:hover .carousel-indicators,
.rfz-slider:hover .carousel-caption,
.rfz-slider:hover .carousel-control {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1.0;
}
.rfz-slider .carousel-indicators,
.rfz-slider .carousel-inner-fader,
.rfz-slider .carousel-caption,
.rfz-slider .carousel-control {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0.0;
}
.rfz-slider .carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0) 0%), color-stop(rgba(0, 0, 0, 0) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}
.rfz-slider .carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0) 0%), color-stop(rgba(0, 0, 0, 0) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}
.rfz-slider .carousel-caption {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  text-align: left;
}
.rfz-slider .carousel-caption a {
  color: #ffffff;
}
.rfz-slider .item {
  height: 432px;
  overflow: hidden;
}
.rfz-slider.collections {
  height: 490px;
  margin: 0;
}
.rfz-slider.collections .carousel-indicators,
.rfz-slider.collections .carousel-inner-fader,
.rfz-slider.collections .carousel-caption,
.rfz-slider.collections .carousel-control {
  opacity: 1.0;
}
.rfz-slider.collections .carousel-caption {
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.rfz-slider.collections .carousel-caption a {
  text-shadow: none;
  font-weight: normal;
  color: #555555;
  background: #fff;
  padding: 10px;
  display: inline-block;
}
.rfz-slider.collections .item {
  height: 490px;
}
.rfz-slider .carousel-control {
  z-index: 3;
}
.rfz-slider .carousel-inner-fader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(127, 116, 112, 0.7);
}
.rfz-slider img {
  width: 100%;
  height: auto;
}
.rfz-header {
  height: 100%;
  width: 100%;
}
.rfz-menu {
  z-index: 20;
  position: absolute;
  top: 100%;
  width: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1.0;
}
.rfz-menu.glued {
  position: fixed;
  top: 0;
  opacity: 0.8;
}
.rfz-menu:hover {
  opacity: 1.0;
}
.rfz-menu-bg {
  height: 50px;
  width: 100%;
  z-index: 2;
  position: absolute;
  background: #7f7470;
}
.rfz-parallax {
  width: 100%;
  height: 100%;
  background: #7f7470;
}
.rfz-parallax .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rfz-parallax .layer.layer-1 {
  z-index: 2;
  background-image: url('../../images/parallax/layer_1.png');
  background-position: center;
  background-repeat: no-repeat;
}
.rfz-parallax .layer.layer-2 {
  z-index: 1;
  background-image: url('../../images/parallax/layer_2.gif');
}
.rfz-parallax .rfz-parallax-container {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.rfz-parallax .rfz-parallax-container .logo {
  margin: 0 auto;
}
.rfz-parallax .rfz-parallax-container .button {
  margin: 0 auto;
  text-align: center;
  margin-top: 82px;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #e8e8e8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #ffa200 0%, #e69200 100%);
  background-image: linear-gradient(to bottom, #ffa200 0%, #e69200 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffa200', endColorstr='#ffe69200', GradientType=0);
  background-color: #e69200;
}
.navbar-default {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 0;
  -webkit-box-shadow: 0 7px 24px rgba(0, 0, 0, 0.46);
  box-shadow: 0 7px 24px rgba(0, 0, 0, 0.46);
  /*.navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@navbar-default-bg, 5%); @end-color: darken(@navbar-default-bg, 2%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }*/
}
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  height: 50px;
  width: 114px;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #ffa200 0%, #cc8200 100%);
  background-image: linear-gradient(to bottom, #ffa200 0%, #cc8200 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffa200', endColorstr='#ffcc8200', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #cc8200;
  background-image: -webkit-linear-gradient(top, #ffa200 0%, #d98a00 100%);
  background-image: linear-gradient(to bottom, #ffa200 0%, #d98a00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffa200', endColorstr='#ffd98a00', GradientType=0);
  border-color: #d98a00;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #ffa200 0%, #e69200 100%);
  background-image: linear-gradient(to bottom, #ffa200 0%, #e69200 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffa200', endColorstr='#ffe69200', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
